*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("123.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#car{
    margin-left: -50px;
    margin-top: 230px;
}
#girl{
    margin-left: 1100px;
    margin-top: 303px;
}
#hua{
    margin-left: 680px;
    margin-top: -709px;
    display: none;

}
#right-wheel,#left-wheel{
    animation: wheel 1s ease infinite ;
    transform-origin: center;
    transform-box:fill-box;
}
/*alternate是指原路返回到初始状态*/
#man-bike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#hat{
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box:fill-box;
}
#all{
    width: 400px;
    height: 400px;
}
@keyframes wheel {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@keyframes bike {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}
@keyframes hat {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(30%);
    }
}